<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="fragments/topnav :: navbar">
</div>
<div class="container-fluid">
<!--    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>-->

    <form th:action="@{/animals/save}" method="post" th:object="${animal}" style="max-width: 500px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}">

        <div class="border border-secondary rounded p-3" >
            <div class="form-group">
                <div class="col-sm-8">
                    <input type="text" th:field="*{name}" class="form-control" required  maxlength="45"  placeholder="İsim"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8">
                    <input type="text"  th:field="*{species}" class="form-control" required  maxlength="45" placeholder="Tür"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8">
                    <input type="text" th:field="*{genus}" class="form-control" required  maxlength="45" placeholder="Cins"/>
                </div>
            </div>

            <div class="form-group">

                <div class="col-sm-8">
                    <input type="number" th:field="*{age}" class="form-control" required  min="0" maxlength="45" placeholder="Yaş"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8">
                    <textarea type="text" th:field="*{description}" class="form-control" rows="2" required minlength="5" maxlength="45" placeholder="Tanım"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    <select th:field="*{person}" class="form-control">
<!--                        <option th:value="Sahipsiz" th:text="Sahipsiz">-->
                        <option th:each="p : ${personName}" th:value="${p.personId}" th:text="${p.nameSurname}" />

                    </select>

                </div>
            </div>

            <div class="form-center">
                <button type="submit" class="btn btn-primary m-2">Kayıt</button>
                <button type="submit" class="btn btn-secondary m-2" onclick="cancelForm()">İptal</button>

            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm(){
        window.location = "[[@{persons}]]";
    }
</script>

</body>
</html>