<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>

<div class="container-fluid">
<!--    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>-->

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="row">
                        <div class="col text-center">
                            <h1>Hayvan Sahibi Ekle</h1>

                        </div>
                    </div>
                    <form th:action="@{/persons/save}" method="post" th:object="${person}" >
                        <input type="hidden" th:field="*{personId}">
                        <div class="row align-items-center">
                            <div class="col mt-4">
                                <input type="text" th:field="*{nameSurname}" class="form-control" required minlength="3" maxlength="45"  placeholder="Ad Soyad"/>
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input type="email"  th:field="*{email}" class="form-control" required minlength="2" maxlength="45" placeholder="Email"/>
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <textarea type="text" th:field="*{contactinformation}" class="form-control" rows="2" required minlength="5" maxlength="45" placeholder="İletişim Bilgileri"/>
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input type="tel" th:field="*{telephone}" class="form-control" required pattern="[0-9]{2}[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}" placeholder="Telefon (905553332211)"/>
                            </div>
                        </div>



                        <div class="row justify-content-start mt-4">
                            <div class="col">
                                <button type="submit" class="btn btn-primary mt-4">Kaydet</button>
                                <button type="submit" class="btn btn-secondary mt-4" onclick="cancelForm()">İptal</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    function cancelForm(){
        window.location = "[[@{persons}]]";
    }
</script>

</body>
</html>