<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            background: #f7f7f7;
        }

        .form-box {
            max-width: 500px;
            margin: auto;
            padding: 50px;
            background: #ffffff;
            border: 10px solid #f2f2f2;
        }

        h1, p {
            text-align: center;
        }

        input, textarea {
            width: 100%;
        }</style>

    <meta charset="UTF-8">
    <!--    <title>[[${pageTitle}]]</title>-->
    <title>Kayıt ol</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script src="webjars/material-design-lite/1.3.0/material.min.js"></script>
</head>
<body>
<br>
<div class="form-box">
    <h1>Kayıt Ol</h1>
    <p> <a th:href="@{/login}">Giriş Yap</a> </p>
    <div th:if="${param.logout}"><h5 class="text-center text-success">Çıkış yaptın</h5></div>
    <div th:if="${param.error}"><h5 class="text-danger text-success">Mail Kullanımda</h5></div>
    <div th:if="${message}" class="alert alert-success text-center">
        <h5 class="text-danger text-success">[[${message}]]</h5>
    </div>
    <form th:action="@{/register/save}" method="post" th:object="${user}">
        <div class="form-group">
            <label for="name">Email</label>
            <input type="email" th:field="*{email}" id="name" required minlength="3" maxlength="45" >
        </div>
        <div class="form-group">
            <label for="password">Şifre</label>
            <input type="password" th:field="*{password}" id="password" required minlength="3" maxlength="45" >
        </div>

        <input class="btn btn-primary" type="submit" value="Kayıt Ol" />
</div>
</form>
</div>

<script type="text/javascript">
    function cancelForm(){
        window.location = "[[@{login}]]";
    }
</script>

</body>
</html>